<div class="flex flex-col">
  <div class="py-4 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:px-6">
    <div class="inline-block min-w-full overflow-hidden align-middle border border-gray-600 rounded rounded-lg shadow-md">
      <table class="min-w-full">
        <thead>
          <tr class="bg-gray-300 border-b border-gray-600">
            <th class="px-4 py-5 text-xs font-bold text-gray-800 text-right uppercase" width="40%">Name</th>
            <th class="hidden px-4 py-5 text-xs font-bold text-gray-800 uppercase md:table-cell md:align-middle" width="*">Neighborhood</th>
            <th class="hidden px-4 py-5 text-xs font-bold text-gray-800 uppercase md:table-cell md:align-middle" width="10%">Cuisine</th>
            {% case include.active %}
              {% when true %}
                <th class="px-4 py-5 text-xs font-bold text-gray-800 uppercase" width="*">Takeout</th>
                <th class="px-4 py-5 text-xs font-bold text-gray-800 uppercase" width="*">Curbside</th>
                <th class="px-4 py-5 text-xs font-bold text-gray-800 uppercase" width="*">Delivery</th>
              {% else %}
                <th class="px-4 py-5 text-xs font-bold text-gray-800 uppercase" width="*">Giftcard</th>
            {% endcase %}
            <th class="px-4 py-5 text-xs font-bold text-gray-800 uppercase" width="*"></th>
          </tr>
        </thead>
        <tbody>
{% comment %} show featured places first {% endcomment %}
{% if include.featured %}
  {% assign featured_places = include.places | where:"featured", true %}
  {% for place in featured_places %}
  {% include place-table-row.html place=place active=include.active featured=true %}
  {% endfor %}
{% endif %}

{% comment %} show all places {% endcomment %}
{% for place in include.places %}
{% include place-table-row.html place=place active=include.active featured=false %}
{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
