---
layout: default
---

<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0 px-3 py-4">
    <h1 class="text-3xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      <a href="{% link _pages/cuisines.html %}" class="text-blue-700 underline hover:text-blue-500">Cuisines</a> |
      {{ page.title }}
    </h1>
  </div>
</div>

{% assign places = site.places | where:"cuisine_slugs", page.slug | where:"active", true %}
{% include place-table.html places=places active=true featured=true %}
