---
layout: none
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LFK.im - Lawrence, Kansas curbside takeout and delivery for local COVID-19 impacted businesses</title>
    <meta name="twitter:site" content="@tailwindcss">
    <meta name="twitter:creator" content="@webology">
    <meta name="twitter:description" content="Lawrence, Kansas curbside takeout and delivery for local COVID-19 impacted businesses">
    <meta name="twitter:image" content="">
    <meta name="twitter:title" content="LFK.im - Lawrence, Kansas curbside takeout and delivery for local COVID-19 impacted businesses">
    <meta property="og:description" content="Lawrence, Kansas curbside takeout and delivery for local COVID-19 impacted businesses" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="LFK.im - Lawrence, Kansas curbside takeout and delivery for local COVID-19 impacted businesses" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://lfk.im" />
    <link href="https://unpkg.com/tailwindcss@^1.4/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
</head>
<body>

<div class="bg-gray-900 md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="px-3 py-3 text-4xl font-bold leading-7 text-gray-100 sm:text-4xl sm:leading-9 sm:truncate">
        <a href="/">LFK.im</a>
    </h2>
  </div>
  <div class="flex-1 px-3 py-3 md:text-right">
    <a class="px-3 py-2 font-bold text-red-700 underline bg-yellow-400 rounded hover:text-red-900" href="#add-your-business">
      Add your business to the list
    </a>
  </div>
</div>

{{ content }}

<div class="lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0 px-3 py-3 py-8">
    <div class="py-4 text-center border-t-2">
      <a target="_blank" class="text-lg text-blue-700 underline hover:text-blue-500" href="https://forms.gle/dcfNTcTqdT27BiL77">
        Suggest a New Business
      </a>
    </div>
    <div class="py-2 text-center">
      <p>
        Made with ♥ in LFK by
        <a rel="author" class="text-blue-700 underline hover:text-blue-500" href="https://twitter.com/webology">
          Jeff Triplett</a>
        from
        <a target="_blank" class="text-blue-700 underline hover:text-blue-500" href="https://www.revsys.com/">
          REVSYS</a>.
          🙏 Special thanks to
        <a target="_blank" class="text-blue-700 underline hover:text-blue-500" href="https://www.revsys.com/about/bio/catherine-holmes">
          Catherine Holmes</a>
        for all the help.
        <a target="_blank" rel="nofollow" class="text-blue-700 underline hover:text-blue-500" href="https://github.com/jefftriplett/lfk.im">
          View on GitHub</a>
    </div>
  </div>
</div>
</body>
</html>
