---
layout: default
---

<div class="p-2">
    <!-- content -->
  <h1 class="font-bold text-4xl {% unless page.active %}text-red-700{% endunless %}">
    {{ page.name }}
    {% unless page.active %}<small class="text-red-900">- Closed</small>{% endunless %}
  </h1>
  <h2 class="text-2xl font-bold">{{ page.address }}</h2>

  <a class="text-blue-700 underline hover:text-blue-500" href="{{ page.website }}">Visit website</a>

  {% if page.neighborhood %}
  <div>
  Neighborhood: <a class="text-blue-700 underline hover:text-blue-500" href="/neighborhoods/{{ page.neighborhood_slug }}/">{{ page.neighborhood }}</a>
  </div>
  {% endif %}

  {% if page.hours %}
  <div>
  Hours: {{ page.hours }}
  </div>
  {% endif %}

  {% if page.cuisines %}
  <div>
  Cuisine:
  {% for cuisine in page.cuisines %}
  <a class="text-blue-700 underline hover:text-blue-500" href="/cuisines/{{ cuisine|slugify }}/">{{ cuisine }}</a>
  {% endfor %}
  </div>
  {% endif %}


  <div class="whitespace-no-wrap">
    Takeout: {% if page.takeout %}✅ Yes{% else %}❌ No{% endif %}
  </div>
  <div class="whitespace-no-wrap">
    Curbside: {% if page.curbside %}✅ Yes{% else %}❌ No{% endif %}
  </div>
  <div class="whitespace-no-wrap">
    Delivery: {% if page.delivery %}✅ Yes{% else %}❌ No{% endif %}
  </div>

  {% if page.curbside_instructions and page.curbside_instructions != "" and page.curbside_instructions != nil %}
  <h2 class="text-2xl font-bold">Curbside Instructions</h2>
  <aside class="max-w-lg p-4 mt-4 bg-yellow-100 border border-yellow-500">
    <p>{{ page.curbside_instructions }}</p>
  </aside>
  {% endif %}

  {% if page.giftcard and page.giftcard != "" and page.giftcard != nil %}
  <h2 class="text-2xl font-bold">Giftcard Options</h2>
  <aside class="max-w-lg p-4 mt-4 bg-yellow-100 border border-yellow-500">
    <p>{{ page.giftcard_notes }}</p>
    {% if page.giftcard_url %}
      <a class="text-blue-700 underline hover:text-blue-500"
          href="{{ page.giftcard_url }}">{{ page.giftcard_url }}</a>
    {% endif %}
  </aside>
  {% endif %}

  <h2 class="text-2xl font-bold">Ordering Options</h2>

  <ul class="bg-gray-100 border">
    <li class="my-4">
      <a class="p-2 m-4 text-xs text-gray-800 whitespace-no-wrap bg-gray-300 border hover:bg-blue-300 hover:text-blue-700"
          href="tel:{{ page.restaurant_phone }}">
        {{ page.restaurant_phone }}</a>
    </li>
    <li class="my-4">
      <a class="p-2 m-4 text-xs text-gray-800 whitespace-no-wrap bg-gray-300 border hover:bg-blue-300 hover:text-blue-700"
          href="{{ page.delivery_service_websites }}">
        order</a>
    </li>
    {% for food in page.food_urls %}
    <li class="my-4">
      <a class="p-2 m-4 text-xs text-gray-800 whitespace-no-wrap bg-gray-300 border hover:bg-blue-300 hover:text-blue-700"
          href="{{ food.url }}">
        order via {{ food.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
