---
layout: default
---

<div class="p-2">
    <!-- content -->
  <h1 class="font-bold text-4xl {% unless page.active %}text-red-700{% endunless %}">
    {{ page.name }}
    {% unless page.active %}<small class="text-red-900">- Closed</small>{% endunless %}
  </h1>
  <h2 class="text-2xl text-gray-800 font-bold">{{ page.address }}</h2>

  {% if page.neighborhood %}
  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Neighborhood</dt>
    <dd>
      <a class="text-blue-700 underline hover:text-blue-500"
          href="/neighborhoods/{{ page.neighborhood_slug }}/">{{ page.neighborhood }}</a>
    </dd>
  </dl>
  {% endif %}

  {% if page.hours and page.hours != "" and page.hours != nil %}
  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Hours</dt>
    <dd>{{ page.hours }}</dd>
  </dl>
  {% endif %}

  {% if page.cuisines %}
  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Cuisine</dt>
    <dd>
    {% for cuisine in page.cuisines %}
      <a class="text-blue-700 underline hover:text-blue-500" href="/cuisines/{{ cuisine|slugify }}/">{{ cuisine }}</a>
    {% endfor %}
    </dd>
  </dl>
  {% endif %}

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Website</dt>
    <dd>
      <a class="text-blue-700 underline hover:text-blue-500" href="{{ page.website }}">website</a>
    </dd>
  </dl>

  {% if page.dinein %}
  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Dine In</dt>
    <dd>{% if page.dinein %}✅ Yes{% else %}❌ No{% endif %}</dd>
  </dl>
  {% endif %}

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Takeout</dt>
    <dd>{% if page.takeout %}✅ Yes{% else %}❌ No{% endif %}</dd>
  </dl>

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Delivery</dt>
    <dd>{% if page.delivery %}✅ Yes{% else %}❌ No{% endif %}</dd>
  </dl>

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Curbside</dt>
    <dd>{% if page.curbside %}✅ Yes{% else %}❌ No{% endif %}</dd>
  </dl>

  {% if page.curbside_instructions and page.curbside_instructions != "" and page.curbside_instructions != nil %}
  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Curbside Instructions</dt>
    <dd>{{ page.curbside_instructions }}</dd>
  </dl>
  {% endif %}

  <h2 class="text-2xl font-bold pt-8">Ordering Options</h2>

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Phone</dt>
    <dd>
      <a class="text-blue-700 underline hover:text-blue-500"
          href="tel:{{ page.restaurant_phone }}">
        {{ page.restaurant_phone }}</a>
    </dd>
  </dl>

  {% for food in page.food_urls %}
  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    {% comment %}<dt>Order</dt>{% endcomment %}
    <dd>
      <a class="text-blue-700 underline hover:text-blue-500"
          href="{{ food.url }}">
        Order {{ page.name }} via {{ food.name }}</a>
    </dd>
  </dl>
  {% endfor %}

  {% if page.giftcard_url != "" or page.giftcard_notes != "" %}
    <h2 class="text-2xl font-bold pt-8">Giftcard Options</h2>

    {% if page.giftcard_url and page.giftcard_url != "" and page.giftcard_url != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      {% comment %}<dt>Giftcards</dt>{% endcomment %}
      <dd>
        <a class="text-blue-700 underline hover:text-blue-500"
            href="{{ page.giftcard_url }}">Purchase a {{ page.name }} Giftcard</a>
      </dd>
    </dl>
    {% endif %}

    {% if page.giftcard_notes and page.giftcard_notes != "" and page.giftcard_notes != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Giftcard Notes</dt>
      <dd>{{ page.giftcard_notes }}</dd>
    </dl>
    {% endif %}
  {% endif %}

  {% if page.facebook_url != "" or page.instagram_url != "" or page.twitch_url != "" or page.twitter_url != "" %}
    <h2 class="text-2xl font-bold pt-8">Social Media</h2>

    {% if page.facebook_url and page.facebook_url != "" and page.facebook_url != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dd><a class="text-blue-700 underline hover:text-blue-500" href="{{ page.facebook_url }}">Facebook</a></dd>
    </dl>
    {% endif %}

    {% if page.instagram_url and page.instagram_url != "" and page.instagram_url != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dd><a class="text-blue-700 underline hover:text-blue-500" href="{{ page.instagram_url }}">Instagram</a></dd>
    </dl>
    {% endif %}

    {% if page.twitch_url and page.twitttwitch_urler_url != "" and page.twitch_url != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dd><a class="text-blue-700 underline hover:text-blue-500" href="{{ page.twitch_url }}">Twitch</a></dd>
    </dl>
    {% endif %}

    {% if page.twitter_url and page.twitter_url != "" and page.twitter_url != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dd><a class="text-blue-700 underline hover:text-blue-500" href="{{ page.twitter_url }}">Twitter</a></dd>
    </dl>
    {% endif %}
  {% endif %}

  {% if page.notes and page.notes != "" and page.notes != nil %}
  <h2 class="text-2xl font-bold pt-8">Notes</h2>
  <div class="text-lg">{{ page.notes }}</div>
  {% endif %}

</div>
