---
layout: default
---

<div class="p-2" itemscope itemtype="http://schema.org/{{ page.place_type }}">
  <!-- content -->
  <h1 class="font-bold text-4xl {% unless page.active %}text-red-700{% endunless %}" itemprop="name">
    {{ page.name }}
    {% unless page.active %}<small class="text-red-900">- Closed</small>{% endunless %}
  </h1>
  <h2 class="text-2xl font-bold text-gray-800" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">{{ page.address }}</span>,
    <span itemprop="addressLocality">{{ page.locality }}</span>,
    <span itemprop="addressRegion">{{ page.region }}</span>
  </h2>

  {% if page.neighborhood %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Neighborhood</dt>
      <dd>
        <a class="text-blue-700 underline hover:text-blue-500"
          href="/neighborhoods/{{ page.neighborhood_slug }}/">{{ page.neighborhood }}</a>
      </dd>
    </dl>
  {% endif %}

  {% if page.hours and page.hours != "" and page.hours != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Hours</dt>
      <dd>{{ page.hours }}</dd>
    </dl>
  {% endif %}

  {% if page.cuisines.size > 0 %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Cuisine</dt>
      <dd>
        {% for cuisine in page.cuisines %}
          <a class="text-blue-700 underline hover:text-blue-500"
            href="/cuisines/{{ cuisine|slugify }}/"
            itemprop="servesCuisine">{{ cuisine }}</a>
        {% endfor %}
      </dd>
    </dl>
  {% endif %}

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Phone</dt>
    <dd>
      <a class="text-blue-700 underline hover:text-blue-500"
        href="tel:{{ page.restaurant_phone }}"
        itemprop="telephone" rel="nofollow">{{ page.restaurant_phone }}</a>
    </dd>
  </dl>

  {% if page.website and page.website != "" and page.website != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Website</dt>
      <dd>
        <a class="text-blue-700 underline hover:text-blue-500"
          href="{{ page.website }}"
          itemprop="url" rel="ugc">{{ page.website }}</a>
      </dd>
    </dl>
  {% endif %}

  {% if page.dinein %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Dine In</dt>
      <dd>
        {% if page.dinein == true %}
          <i class="fas fa-check-circle text-md text-green-700"></i> Yes
        {% endif %}
        {% if page.dinein == false %}
          <i class="far fa-times-circle text-md"></i> No
        {% endif %}
      </dd>
    </dl>
  {% endif %}

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Takeout</dt>
    <dd>
      {% if page.takeout == true %}
        <i class="fas fa-check-circle text-md text-green-700"></i> Yes
      {% endif %}
      {% if page.takeout == false %}
        <i class="far fa-times-circle text-md"></i> No
      {% endif %}
    </dd>
  </dl>

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Delivery</dt>
    <dd>
      {% if page.delivery == true %}
        <i class="fas fa-check-circle text-md text-green-700"></i> Yes
      {% endif %}
      {% if page.delivery == false %}
        <i class="far fa-times-circle text-md"></i> No
      {% endif %}
    </dd>
  </dl>

  <dl class="flex items-center justify-between py-2 border-b border-gray-400">
    <dt>Curbside</dt>
    <dd>
      {% if page.curbside == true %}
        <i class="fas fa-check-circle text-md text-green-700"></i> Yes
      {% endif %}
      {% if page.curbside == false %}
        <i class="far fa-times-circle text-md"></i> No
      {% endif %}
    </dd>
  </dl>

  {% if page.curbside_instructions and page.curbside_instructions != "" and page.curbside_instructions != nil %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dt>Curbside Instructions</dt>
      <dd>{{ page.curbside_instructions }}</dd>
    </dl>
  {% endif %}

  <h2 class="pt-8 text-2xl font-bold">Ordering Options</h2>

  {% for food in page.food_urls %}
    <dl class="flex items-center justify-between py-2 border-b border-gray-400">
      <dd>
        <i class="fas fa-money-bill-wave"></i>
        <a class="text-blue-700 underline hover:text-blue-500"
          href="{{ food.url }}" rel="nofollow">
          Order {{ page.name }} via {{ food.name }}</a>
      </dd>
    </dl>
  {% endfor %}

  {% if page.giftcard_url != "" or page.giftcard_notes != "" %}
    <h2 class="pt-8 text-2xl font-bold">Giftcard Options</h2>

    {% if page.giftcard_url and page.giftcard_url != "" and page.giftcard_url != nil %}
      <dl class="flex items-center justify-between py-2 border-b border-gray-400">
        <dd>
          <a class="text-blue-700 underline hover:text-blue-500"
            href="{{ page.giftcard_url }}" rel="nofollow">Purchase a {{ page.name }} Giftcard</a>
        </dd>
      </dl>
    {% endif %}

    {% if page.giftcard_notes and page.giftcard_notes != "" and page.giftcard_notes != nil %}
      <dl class="flex items-center justify-between py-2 border-b border-gray-400">
        <dt>
          <i class="fas fa-gift"></i> Giftcard Notes
        </dt>
        <dd>{{ page.giftcard_notes }}</dd>
      </dl>
    {% endif %}
  {% endif %}

  {% if page.facebook_url != "" or page.instagram_url != "" or page.twitch_url != "" or page.twitter_url != "" %}
    <h2 class="pt-8 text-2xl font-bold">Social Media</h2>

    {% if page.instagram_url and page.instagram_url != "" and page.instagram_url != nil %}
      <dl class="flex items-center justify-between py-2 border-b border-gray-400">
        <dd>
          <i class="fab fa-instagram text-md"></i>
          <a class="text-blue-700 underline hover:text-blue-500" href="{{ page.instagram_url }}" rel="nofollow">Instagram</a>
        </dd>
      </dl>
    {% endif %}

    {% if page.twitter_url and page.twitter_url != "" and page.twitter_url != nil %}
      <dl class="flex items-center justify-between py-2 border-b border-gray-400">
        <dd>
          <i class="fab fa-twitter text-md"></i>
          <a class="text-blue-700 underline hover:text-blue-500" href="{{ page.twitter_url }}" rel="nofollow">Twitter</a>
        </dd>
      </dl>
    {% endif %}

    {% if page.facebook_url and page.facebook_url != "" and page.facebook_url != nil %}
      <dl class="flex items-center justify-between py-2 border-b border-gray-400">
        <dd>
          <i class="fab fa-facebook text-md"></i>
          <a class="text-blue-700 underline hover:text-blue-500" href="{{ page.facebook_url }}" rel="nofollow">Facebook</a>
        </dd>
      </dl>
    {% endif %}

    {% if page.twitch_url and page.twitch_url != "" and page.twitch_url != nil %}
      <dl class="flex items-center justify-between py-2 border-b border-gray-400">
        <dd>
          <i class="fab fa-twitch text-md"></i>
          <a class="text-blue-700 underline hover:text-blue-500" href="{{ page.twitch_url }}" rel="nofollow">Twitch</a>
        </dd>
      </dl>
    {% endif %}

  {% endif %}

  {% if page.notes and page.notes != "" and page.notes != nil %}
    <h2 class="pt-8 text-2xl font-bold">Notes</h2>
    <div class="text-lg">{{ page.notes }}</div>
  {% endif %}

</div>
